<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav"
              mode="push"
              hasBackdrop="true"
              position="start">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--工具栏-->
    <mat-toolbar>
      <mat-toolbar-row>
        <app-user-icon (toggleDrawer)="drawer.toggle();"></app-user-icon>
        <span>消息</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <!--对话列表-->
    <app-dialog-list></app-dialog-list>
  </div>

</mat-drawer-container>
