#foot-bar {
  width: 70%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 2%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 2%;
}

.mat-list-item-content {
  margin-left: 1%;
}

.img-container {
  margin: 0 auto;
  height: 25px;
}

.img-container img {
  flex-shrink: 0;
}
